.rooms-container,
.spots-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.rooms-container .room,
.spots-container .spot {
  width: calc(25% - 15px);
  border-radius: 16px;
  overflow: hidden;
  background-color: azure;
}

.rooms-container img,
.spots-container img {
  width: 100%;
  height: 250px;
}
.rooms-container p,
.spots-container p {
  padding: 10px 20px;
}
.rooms-container h3,
.spots-container h3 {
  padding: 10px 20px;
}
.rooms-container a,
.spots-container a {
  background-color: green;
  color: wheat;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}
